@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: OpenDyslexic;
  src: url("../fonts/OpenDyslexic2/OpenDyslexic-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  justify-content: space-between;
}

body {
  background-image: url("../imagens/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
}

article {
  width: 100%;
  display: flex;
}

.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: blue;
  display: flex;
  width: 25%;
  align-items: baseline;
}

.ctnFlex {
  display: flex;
  align-items: flex-end;
  width: 235px;
}

.card-names {
  justify-content: left;
  display: flex;
  width: 60%;
  align-items: baseline;
  float: left;
}

.iconFlex {
  justify-content: end;
  display: flex;
  padding-top: 0px;
  width: 40%;
  align-items: flex-end;
  right: 0;
}

.card-icon {
  justify-content: flex-end;
  right: 0;
  margin-left: 8vw;
}

.image-hotel {
  width: 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.coluna {
  float: left;
  width: 25%;
}

.fotinho {
  width: 50%;
  height: 50%;
}

p {
  margin-bottom: 0px !important;
}

h4 {
  text-shadow: 1px 1px 10px;
  font-weight: bold;
}

textarea {
  border: 1px solid #76b3e6 !important;
  min-height: 100px !important;
}


/* NAVBAR */

nav ul li:hover {
  background: #76b3e6;
  border-radius: 10px;
  cursor: pointer;
}

  nav ul li {
    display: flex;
    justify-content: space-between;
  }

/* NAVBAR */

/* IMAGENS */

.ponto {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}

/* IMAGENS */

/* FEEDBACK */

.section_feedback > h4,
.section_feedback > h5 {
  text-align: center;
  margin-bottom: 0px !important;
}

.container_feedback {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container_feedback > img {
  width: 100px;
  height: 100px;
}

.box_feedback > p {
  font-size: 12px;
  margin-bottom: 8px !important;
  text-align: justify;
}

/* FEEDBACK */

/* TEXT AREA */

.form-floating {
  min-height: 100px;
}

/* TEXT AREA */

/* FOOTER */

.container_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0px 1px 0px;
  border-color: #000;
  border-style: solid;
}

.container_footer > .size100 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.size100 {
  width: 100%;
}

.links > a {
  text-decoration: none;
  color: black;
}

.font-size-footer {
  font-size: 10px;
}

/* FOOTER */
