@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: OpenDyslexic;
  src: url("../fonts/OpenDyslexic2/OpenDyslexic-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

body {
  background-image: url("../imagens/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
}

article {
  width: 100%;
  display: flex;
}

.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0 rgba(50, 50, 0.22);
  padding: 20px;
  margin: 20px;
  background-color: blue;
}

.card-names {
  display: flex;
  align-items: center;
}

.card-icon {
  display: flex;
  align-items: center;
}
.image-hotel {
  width: 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.coluna {
  float: left;
  width: 25%;
}

.fotinho {
  width: 50%;
  height: 50%;
}

p {
  margin-bottom: 0px !important;
}

/* REDES SOCIAIS */

.section_redes {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 20%;
  left: 0;
  gap: 8px;

  border-radius: 0px 8px 8px 0px;
  padding: 8px;
  background-color: #dcdcdc;
}
.img_redes {
  height: 25px;
  width: 25px;
}

/* REDES SOCIAIS */

/* FEEDBACK */

.section_feedback > h4,
.section_feedback > h5 {
  text-align: center;
  margin-bottom: 0px !important;
}

.container_feedback {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container_feedback > img {
  width: 100px;
  height: 100px;
}

.box_feedback > p {
  font-size: 12px;
  margin-bottom: 8px !important;
  text-align: justify;
}

/* FEEDBACK */

/* TEXT AREA */

h4 {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.29);
  font-weight: bold;
}
textarea {
  border: 1px solid #76b3e6 !important;
  min-height: 100px !important;
}

.form-floating {
  min-height: 100px;
}

/* TEXT AREA */
