@font-face {
  font-family: Delicious;
  src: url("../OpenDyslexic/OpenDyslexic-Regular.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  justify-content: space-between;
}

body {
}

p {
  margin-bottom: 0px !important;
}

h4 {
  font-weight: bold;
}

textarea {
  border: 1px solid #76b3e6 !important;
  min-height: 100px !important;
}

/* Trocar de lingua */

.changeLangOpenDyslexic {
  font-family: "Delicious", "Poppins", sans-serif !important;
}
.changeLangPoppins {
  font-family: "Poppins", sans-serif !important;
}

.buttonChangeLang {
  height: 40px;
  width: 40px;
  position: fixed;
  border-radius: 50%;
  border-style: none !important;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-color: #000;
  right: 0;
  top: 48%;
  margin-right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttonChangeLang > img {
  width: 80%;
}

/* Trocar de lingua */

/* INICIO LIBRAS */
.enabled {
  margin-right: 5px;
  margin-top: -20vh !important;
}
.access-button {
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-radius: 50px !important;
  border: 0px;
}
/* FIM LIBRAS */

/* NAVBAR */

.nav-link {
  font-weight: 700 !important;
  font-size: 20px !important;
}

nav ul li:hover {
  background: #76b3e6;
  border-radius: 10px;
  cursor: pointer;
}

nav ul li {
  display: flex;
  justify-content: space-between;
}

li > button {
  border-radius: 50%;
  border: none;
}

/* NAVBAR */

/* FOOTER */

.container_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0px 1px 0px;
  border-color: #000;
  border-style: solid;
}

.container_footer > .size100 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.size100 {
  width: 100%;
}

.links > a {
  text-decoration: none;
  color: black;
}

.font-size-footer {
  font-size: 10px;
}

/* FOOTER */
