@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: OpenDyslexic;
  src: url("../fonts/OpenDyslexic2/OpenDyslexic-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

body {
  background-image: url("../imagens/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
}

article {
  width: 100%;
  display: flex;
}

.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0 rgba(50, 50, 0.22);
  padding: 20px;
  margin: 20px;
  background-color: blue;
  display: flex;
  width: 25%;
  align-items: baseline;

}

.ctnFlex {
  display: flex;
  align-items: flex-end;
  width: 235px;
}

.card-names {
  justify-content: left;
  display: flex;
  width: 60%;
  align-items: baseline;
  float: left;
}

.iconFlex {
  justify-content: end;
  display: flex;
  padding-top: 0px;
  width: 40%;
  align-items: flex-end;
  right: 0;
}

.card-icon{
  justify-content: flex-end;
  right: 0;
  margin-left: 8vw;
}


.image-hotel {
  width: 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.coluna {
  float: left;
  width: 25%;
}

.fotinho {
  width: 50%;
  height: 50%;
}

p {
  margin-bottom: 0px !important;
}

h4 {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.29);
  font-weight: bold;
}

textarea {
  border: 1px solid #76b3e6 !important;
  min-height: 100px !important;
}

/* NAVBAR */
nav {
  width: 100%;
  padding: 0;
  background: transparent;
}

nav h2 {
  float: left;
}

h2 a {
  text-decoration: none;
  color: #0a2af5;
}

nav ul {
  float: inherit;
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px 30px;
  transition: 0.5s;
}

nav ul li:hover {
  background: #9aa5ee;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.responsive-bar {
  width: 100%;
  background: #cbced4;
  padding: 10px 20px;
  box-sizing: border-box;
  display: none;
}

.responsive-bar h3 {
  margin: 0;
  padding: 3px 0;
  float: left;
}

.responsive-bar h3 a {
  color: #0a2af5;
  text-decoration: none;
}

@media (max-width: 468px) {
  /*   nav {
   display:none;
  } */
  .responsive-bar {
    display: block;
  }

  nav h2 {
    display: block;
    float: none;
  }

  nav ul {
    float: none;
  }

  nav ul li {
    display: block;
    text-align: center;
    background: #cbced4;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  h2.brand {
    display: none;
  }
}

/* NAVBAR */

/* IMAGENS */

.ponto {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}

/* IMAGENS */

/* FEEDBACK */

.section_feedback > h4,
.section_feedback > h5 {
  text-align: center;
  margin-bottom: 0px !important;
}

.container_feedback {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container_feedback > img {
  width: 100px;
  height: 100px;
}

.box_feedback > p {
  font-size: 12px;
  margin-bottom: 8px !important;
  text-align: justify;
}

/* FEEDBACK */

/* TEXT AREA */

.form-floating {
  min-height: 100px;
}

/* TEXT AREA */

/* FOOTER */
.container_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0px 1px 0px;
  border-color: #000;
  border-style: solid;
}

.container_footer > .size100 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.size100 {
  width: 100%;
}

.links > a {
  text-decoration: none;
  color: black;
}

.font-size-footer {
  font-size: 10px;
}

/* FOOTER */
