@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
/* BACKGROUNG HOME */

.backgroundBack {
  height: 500px;
  width: 100vw;
}

.background {
  height: 500px;
  width: 100vw;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../imagens/home/backhroung-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.background > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.background > div > h3 {
  font-family: "Titan One", "Poppins" !important;
  color: #ff813a;
}
.background > div > p {
  color: #1d6c7d;
  font-weight: 700 !important;
}
.background > div > button {
  color: #fff;
  font-weight: 700;
  width: 150px;
  background-color: #ff813a;
  border-radius: 30px;
  border: none;
  padding: 5px 15px;
}
/* BACKGROUNG HOME */

/* BUSCAR VIAGEM AREA */
.box-buscar-datas {
  margin-top: 330px !important;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px black;
}

.btn-buscar {
  width: 100% !important;
}

.btn-rounded {
  border-radius: 20px;
  background-color: #0d6efd;
  padding: 8px;
  border: none !important;
  color: #fff;
  box-shadow: 3px 3px 5px 0px #000;
}

.btn-orange {
  background-color: #ff813a !important;
  color: #fff !important;
}
/* BUSCAR VIAGEM AREA */

/* CARD EVENTOS */
.container-card-eventos {
  margin: 100px 0px;
}

.card-eventos > img {
  border-radius: 10px 10px 0px 0px;
}
.card-eventos > button {
  padding: 5px 5px 5px 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  border-radius: 0px 0px 10px 10px;
  border: none !important;
}

.button-azul {
  background-color: #045cfa;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color: #cac8c8;
}

.button-laranja {
  background-color: #d17e4f;
}

.button-verde {
  background-color: #01bdaa;
}

.button-cinza {
  background-color: #afbdd3;
}
/* CARD EVENTOS */

/* CARD EMAIL */
.input_email {
  padding: 10px;
  width: 60%;
  background-color: rgb(243, 240, 240) !important;
  border-radius: 5px 0px 0px 5px;
  border: none;
  box-shadow: 0px 2px 3px black;
}

.btn_button_email {
  padding: 10px;
  width: 20%;
  background-color: #ff813a;
  border: none;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px 2px 3px black;
  color: #fff;
  font-weight: 700;
}

.div_email {
  display: flex;
  justify-content: center;
}

/* CARD EMAIL */

section > article {
  border-radius: 20px;
  height: 80%;
  width: 100%;
}
section > article > p,
h4 {
  color: #ff813a;
  font-family: "Titan One", "Poppins" !important;
}

/* Box Usuario */

.box_usuario {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
}

/* Box Usuario */

.gallery {
}

.carrosel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.carrosel > a {
  text-align: justify;
  width: 85%;
}

.carrosel-bg-1 {
  width: 33%;
}
.carrosel-bg-1 > a > img {
  width: 100%;
}
.carrosel-bg-2 {
  width: 33%;
}
.carrosel-bg-2 > a > img {
  width: 100%;
}
.carrosel-bg-3 {
  width: 33%;
}
.carrosel-bg-3 > a > img {
  width: 100%;
}
.carrosel-bg-4 {
  width: 33%;
}
.carrosel-bg-4 > a > img {
  width: 100%;
}
.carrosel-bg-5 {
  width: 33%;
}
.carrosel-bg-5 > a > img {
  width: 100%;
}
.carrosel-bg-6 {
  width: 33%;
}
.carrosel-bg-6 > a > img {
  width: 100%;
}
